/*This is a stylesheet for html*/

/*h1 {
    background-color: orange;
}*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: column;
    /*padding: 0 250px;*/
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 20px;
}

.top .header {
    color: white;
}

.top-header {
    display: flex;
    justify-content: space-evenly;
    
}

.top-header .header {
    font-size: 24px;
}

.top-content {
    display: flex;
    justify-content: space-evenly;
}

.top-content .header {
    font-size: 48px;
    font-weight: 800px;
    /* max-width: 300px; */
}

/* .top-text {
    max-width: 400px;
} */


.top-left-width {  
    /*Instead of defining width in the previous two selectors. Declaring width
    here includes the header logo, which forces the top-header content to align with the 
    top-content since it shares the same width in the flex container.  Now space-evely, 
    and space-around share the same amount of space between both flex containers.*/
    width: 300px;
}

.top-button {
    background-color: #3882F6;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
}


.middle-top {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    
}

.middle-top h2 {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}

.cardholder {
    display: flex;
    gap: 50px;
    text-align: center;
    flex-wrap: wrap;
}


.card p {
    max-width: 150px;;
}

.image {
    border-radius: 5px;
    
}

.middle-middle {
    box-sizing: border-box;
    background-color: #E5E7EB;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    padding: 0px 350px;

}

.middle-middle p {
    
}

.middle-bottom {
    background-color: #3882F6;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 20px 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*padding: 0px 80px;*/
    color: white;
}

.middle-bottom button {
    background-color: #3882F6;
    border: white 2px solid;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/*At this time, reducing the window size does not proportionally shrink all elements of the webpage
This is because the padding, margin, and image width does not shrink.  Hopefully as you continue
learning.  You will find a solution to this problem.  For now great job!


